<aside class="callout">
  <div class="text-vertical-center">
    <h1>Upload your Video</h1>
  </div>
</aside>

<div class="form" style="margin: 100px 100px 0;">
  <% if flash[:alert].present? %>
    <h4 class="text-danger" style="margin-bottom: 50px">
      <%# ここにflash(alert)メッセージを表示しよう！ %>
    </h4>
  <% end %>
  <%= bootstrap_form_for @movie do |f| %>
    <%# ここにコメント入力欄を表示しよう！ %>
    <%# ここにビデオアップロードボタンを表示しよう！ %>
    <%# ここに投稿ボタンを表示しよう！ %>
  <% end %>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <br>
        <hr class="small">
        <p class="text-muted">Copyright &copy; Your Website 2017</p>
      </div>
    </div>
  </div>
</footer>
